/* -------------------------------- 

File#: _1_content-gallery-1

-------------------------------- */
.content-gallery-1 {

    .adv-gallery__img {
        object-fit: cover;
        flex-basis: 0;
    }

    .gallery-link {
        position: relative;
        height: 100%;
        display: flex;

        p {
            position: absolute;
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
        }
    }

    figure:nth-child(1) {
        background: #1b9e86;
    }
    figure:nth-child(2) {
        background: #7c4e91;
    }
    figure:only-child {
        background: #a06f53;
    }
    figure.last-figure {
        background: #3a3a3a;
    }

    img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    }
}




figure {
    position: relative;
}

figcaption {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;

    &::before, &::after {
        position: absolute;
        content: '';
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    &::before {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    }

    &::after {
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    }

    &:hover {
        &::before, &::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
}
