/* -------------------------------- 

File#: _1_multiselect

-------------------------------- */
:root {
  --checkbox-radio-size: 18px;
  --checkbox-radio-gap: var(--space-xxxs);
  --checkbox-radio-border-width: 1px;
  --checkbox-radio-line-height: var(--body-line-height);
  --radio-marker-size: 8px;
  --checkbox-marker-size: 12px;
  --checkbox-radius: 0px;
}
.radio,
.checkbox {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: calc(
    (1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2
  );
  opacity: 0;
  height: var(--checkbox-radio-size);
  width: var(--checkbox-radio-size);
  pointer-events: none;
}
.radio + label,
.checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  line-height: var(--checkbox-radio-line-height);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.radio + label::before,
.checkbox + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(
    (1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2
  );
  flex-shrink: 0;
  width: var(--checkbox-radio-size);
  height: var(--checkbox-radio-size);
  background-color: var(--color-bg);
  border-width: var(--checkbox-radio-border-width);
  border-color: var(--color-contrast-low);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: var(--checkbox-radio-gap);
  transition: border 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, border 0.2s;
  transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
}
.radio:not(:checked):not(:focus) + label:hover::before,
.checkbox:not(:checked):not(:focus) + label:hover::before {
  border-color: 1px solid var(--color-white);
}
.radio + label::before {
  border-radius: 50%;
}
.checkbox + label::before {
  border-radius: var(--checkbox-radius);
}
.radio:checked + label::before,
.checkbox:checked + label::before {
  background-color: var(--color-primary);
  box-shadow: none;
  border-color: var(--color-primary);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.radio:active + label::before,
.checkbox:active + label::before {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.radio:checked:active + label::before,
.checkbox:checked:active + label::before {
  -webkit-transform: none;
  transform: none;
  transition: none;
}
.radio:checked + label::before {
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PGcgY2xhc3M9J25jLWljb24td3JhcHBlcicgZmlsbD0nI2ZmZmZmZic+PGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzgnIGZpbGw9JyNmZmZmZmYnPjwvY2lyY2xlPjwvZz48L3N2Zz4=);
  background-size: var(--radio-marker-size);
}
.checkbox:checked + label::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMicgaGVpZ2h0PScxMicgdmlld0JveD0nMCAwIDEyIDEyJz48cG9seWxpbmUgcG9pbnRzPScxIDYuNSA0IDkuNSAxMSAyLjUnIGZpbGw9J25vbmUnIHN0cm9rZT0nI0ZGRkZGRicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4=);
  background-size: var(--checkbox-marker-size);
}
.radio:checked:active + label::before,
.checkbox:checked:active + label::before,
.radio:focus + label::before,
.checkbox:focus + label::before {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px
    hsla(
      var(--color-primary-h),
      var(--color-primary-s),
      var(--color-primary-l),
      0.2
    );
}
.x-nop + label,
.x-nod + label {
  padding: var(--space-xxxxs) var(--space-xxxs);
  border-radius: var(--radius-md);
  transition: background 0.2s;
}
.x-nop + label:hover,
.x-nod + label:hover {
  background-color: var(--color-contrast-lower);
}
.x-nop:active + label,
.x-nod:active + label,
.x-nop:focus + label,
.x-nod:focus + label {
  background-color: hsla(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l),
    0.1
  );
}
:root {
  --multi-select-dropdown-gap: 4px;
}
.multi-select {
  position: relative;
}
.multi-select__button {
  position: relative;
  width: 100%;
  padding: 12px;
  background-color: #101010;
  color: var(--color-white);
  font-size: 14px;
  text-align: left;
  border: 1px solid var(--color-white);
  outline: none;

  @include breakpoint(sm) {
    padding: 15px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #ffffff;
    right: 15px;
    top: 20px;

    @include breakpoint(sm) {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 9px solid #ffffff;
    }
  }
}
.search-elem {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 45px;
      padding-top: 15px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      outline: none;

      @include breakpoint(sm) {
        padding-top: 0;
        width: 50px;
      }
      }
}

.form-control-wrapper {
    --input-icon-size: 1em; // icon size
    --input-icon-text-gap: var(--space-xxs); // gap between icon and text
    
    position: relative;
  
    .form-control {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid var(--color-white);
      border-radius: 0;
      color: var(--color-white) !important;
      font-size: 14px;
    }
  
    .icon {
      display: block;
      position: absolute;
      width: var(--input-icon-size);
      height: var(--input-icon-size);
      top: calc(50% - var(--input-icon-size)/2);
      pointer-events: none;
    }
  }
  
  .form-control-wrapper--icon-left {
    .icon {
        left: 12px;
    }
  
    .form-control {
        padding-left: 40px;
    }
  }

  .arrow-cstm {
    padding-top: 12px;
    padding-bottom: 12px;
    -moz-appearance: textfield;

    @include breakpoint(sm) {
      padding: 15px 0;
    }
  }
  .arrow-cstm::-webkit-inner-spin-button { 
    display: none;
  }

.multi-select__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-select__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  max-height: 1px;
  background-color: #000000;
  box-shadow: var(--shadow-sm);
  padding: var(--space-xxs) 0;
  border-radius: var(--radius-md);
  z-index: var(--zindex-popover);
  margin-top: var(--multi-select-dropdown-gap);
  margin-bottom: var(--multi-select-dropdown-gap);
  overflow: auto;
  --space-unit: 1rem;
  --text-unit: 1rem;
  font-size: var(--text-unit);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s;
}
.multi-select__dropdown--right {
  right: 0;
  left: auto;
}
.multi-select__dropdown--up {
  bottom: 100%;
  top: auto;
}
.multi-select__button[aria-expanded="true"] + .multi-select__dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}
.multi-select__list:not(:first-of-type) {
  padding-top: var(--space-xxs);
}
.multi-select__list:not(:last-of-type) {
  border-bottom: 1px solid var(--color-contrast-low);
  padding-bottom: var(--space-xxs);
}
.multi-select__item {
  display: block;
  padding: var(--space-xs) var(--space-md);
  color: var(--color-contrast-high);
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-select__item--optgroup {
  font-size: var(--text-sm);
  color: var(--color-contrast-medium);
}
.multi-select__item--option {
  --checkbox-radio-gap: var(--space-xxs);
  cursor: pointer;
}

.multi-select__item--option span {
  color: var(--color-white);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
html:not(.js) .x-nov {
  display: none;
}
.multi-select__term + .multi-select__details::before {
  content: ": ";
}
