/* -------------------------------- 

File#: _1_tabs
Title: Tabs
Descr: A list of content sections (panels), accessible one at a time using control labels

-------------------------------- */

.tabs {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 2;
    margin-bottom: var(--space-lg);
}

.tabs__control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  text-decoration: none;
  color: var(--color-white);
  background-color: #353535;
  font-size: 16px;
  font-weight: 500;

  @include breakpoint(sm) {
    padding: 15px 0;
  }
  

  &:focus {
    outline: 0px solid alpha(var(--color-primary), 0.2);
    outline-offset: 2px;
  }
}

.js-tabs__panels {
    background-color: #101010;
}

.js {
  .tabs__control[aria-selected="true"] {
    
    background-color: #101010;
    color: var(--color-white);
  }
}