<section class="content-gallery-1 padding-bottom-lg">
<div class="container max-width-adaptive-xl">
  <div class="grid gap-sm">
    <div class="col-12 col-4@md flex flex-column">
      <figure class="margin-bottom-sm"><a href="#0" class="gallery-link"><figcaption><p>Nouveautés</p></figcaption><img class="adv-gallery__img" src="/assets/img/grid-gallery-1.jpg" alt="Nouveautés" title="Nouveautés"></a></figure>
      <figure><a href="#0" class="gallery-link"><figcaption><p>Les cous de coeurs</p></figcaption><img class="adv-gallery__img" src="/assets/img/grid-gallery-2.jpg" alt="Les cous de coeurs" title="Les cous de coeurs"></a></figure></div>
    <div class="col-12 col-4@md flex"><figure><a href="#0" class="gallery-link"><figcaption><p>À louer</p></figcaption><img class="adv-gallery__img" src="/assets/img/grid-gallery-3.jpg" alt="À louer" title="À louer"></a></figure></div>
    <div class="col-12 col-4@md flex"><figure class="last-figure"><a href="#0" class="gallery-link"><figcaption><p>À vendre</p></figcaption><img class="adv-gallery__img" src="/assets/img/grid-gallery-4.jpg" alt="À vendre" title="À vendre"></a></figure></div>
  </div>
</div>
</section>