<header class="f-header position-relative js-f-header">
    <div class="f-header__mobile-content container max-width-adaptive-xl">
      <a href="#0" class="f-header__logo">Logo</a>
  
      <button class="reset anim-menu-btn js-anim-menu-btn f-header__nav-control js-tab-focus" aria-label="Toggle menu">
        <i class="anim-menu-btn__icon anim-menu-btn__icon--close" aria-hidden="true"></i>
      </button>
    </div>
  
    <div class="f-header__nav" role="navigation">
      <div class="f-header__nav-grid justify-between@md container max-width-adaptive-xl">
        <div class="f-header__nav-logo-wrapper flex-grow flex-basis-0">
          <a href="#0" class="f-header__logo">Logo</a>
        </div>
    
        <ul class="f-header__list margin-bottom-lg margin-bottom-0@md flex-grow flex-basis-0 justify-center@md">
          <li class="f-header__item f-header__item-2"><a href="#0" class="f-header__link" aria-current="page">Acheter</a></li>
          <li class="f-header__item f-header__item-2"><a href="#0" class="f-header__link">Louer</a></li>
          <li class="f-header__item f-header__item-2"><a href="#0" class="f-header__link">Vendre</a></li>
          <li class="f-header__item f-header__item-2"><a href="#0" class="f-header__link">Estimation</a></li>
          <li class="f-header__item f-header__item-2"><a href="#0" class="f-header__link">Agence</a></li>
        </ul>
    
        <ul class="f-header__list flex-grow flex-basis-0 flex justify-center justify-end@md">
          <li class="f-header__item">
            <a href="#0" class="f-header__link f-header__link--icon icon-margin" aria-label="Like it">
              <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.2188 0.0546875C12.242 0.0546875 11.3465 0.364203 10.5572 0.974656C9.80044 1.5599 9.29661 2.30532 9 2.84736C8.70339 2.30528 8.19956 1.5599 7.44282 0.974656C6.6535 0.364203 5.758 0.0546875 4.78125 0.0546875C2.05552 0.0546875 0 2.28419 0 5.24073C0 8.43481 2.5644 10.6202 6.44657 13.9285C7.10582 14.4903 7.85306 15.1271 8.62973 15.8063C8.73211 15.896 8.86359 15.9453 9 15.9453C9.13641 15.9453 9.26789 15.896 9.37027 15.8063C10.147 15.1271 10.8942 14.4903 11.5539 13.9281C15.4356 10.6202 18 8.43481 18 5.24073C18 2.28419 15.9445 0.0546875 13.2188 0.0546875Z" fill="white"/>
                </svg>
            </a>
          </li>

          <li class="f-header__item">
            <a href="#0" class="f-header__link f-header__link--icon icon-margin" aria-label="Send on e-mail">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M19.9851 4.30866C19.9851 4.2858 20.0008 4.26356 19.9998 4.24097L13.8965 10.1218L19.9925 15.8148C19.9961 15.7742 19.9851 15.7332 19.9851 15.6916V4.30866Z" fill="white"/>
                <path d="M12.9653 11.0267L10.4737 13.4239C10.3477 13.5452 10.1848 13.606 10.0219 13.606C9.86236 13.606 9.70283 13.5478 9.57762 13.4311L7.09284 11.1157L0.957031 17.03C1.10623 17.0836 1.26637 17.1252 1.43407 17.1252H18.6098C18.8588 17.1252 19.0924 17.0493 19.2955 16.9362L12.9653 11.0267Z" fill="white"/>
                <path d="M10.014 12.057L19.3285 3.08438C19.1176 2.95899 18.8722 2.87488 18.609 2.87488H1.4333C1.09068 2.87488 0.776741 3.00791 0.532227 3.2108L10.014 12.057Z" fill="white"/>
                <path d="M0 4.5271V15.6914C0 15.8195 0.0294565 15.9431 0.0614329 16.0612L6.12113 10.2258L0 4.5271Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </a>
          </li>
  
          <li class="f-header__item">
            <a href="#0" class="f-header__link f-header__link--icon icon-margin" aria-label="Follow us on Facebook">
              <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.125 6.1875V3.9375C6.125 3.3165 6.629 2.8125 7.25 2.8125H8.375V0H6.125C4.26087 0 2.75 1.51088 2.75 3.375V6.1875H0.5V9H2.75V18H6.125V9H8.375L9.5 6.1875H6.125Z" fill="white"/>
                </svg>
            </a>
          </li>

          <li class="f-header__item">
            <a href="#0" class="f-header__link f-header__link--icon icon-margin" aria-label="Follow us on Twitter">
              <svg class="icon" viewBox="0 0 32 32"><g><path d="M32,6.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3 c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5C10.3,10.8,5.5,8.2,2.2,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5 c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C30,8.5,31.1,7.4,32,6.1z"></path></g></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
</header>